<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">Vue 2.0</nav>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">welcome Vue 2.0</div>
                    <div class="panel-body">
                        <h1>{{ message }}</h1>
                        <my-todo :list="tasks"></my-todo>
                        <form @submit.prevent="addTodo(onetask)">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="onetask.name"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-sm" type="submit">add Todo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template id="todo-template">
        <ul class="list-group">
            <li class="list-group-item" v-for="(task,index) in list">
                {{ task.name }}
                <button class="btn btn-warning btn-xs pull-right" @click="deleteTodo(index)">
                    delete
                </button>
            </li>
        </ul>
    </template>
    <script src="../vue2.js"></script>
    <script>
        Vue.component('my-todo',{
            template : '#todo-template',
            props : ['list'],
            methods : {
                deleteTodo : function(index){
                    this.list.splice(index,1)
                }
            }
        })
        new Vue({
            el : "#app",
            data : {
                message : "My Todo",
                onetask : {id:0,name:""},
                tasks : [{id:1,name:"learn"}]
            },
            methods : {
                addTodo(one){
                    console.log(this)
                    this.tasks.push(one)
                    this.onetask = {id:0,name:""}
                }
            },
            watch : {
                "onetask" : function(newVal,oldVal){
                    console.log(newVal)
                    console.log(oldVal)
                }
            }
        })
    </script>
</body>
</html>